/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.site-name
  font-size 0!important
.home .hero img
  max-width 450px!important
blockquote
  color #7e22ce!important
  border-left 5px solid #7e22ce!important
